<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% load render_bundle from webpack_loader %}
{% render_bundle 'main' attrs='defer' %}

<meta http-equiv="X-UA-Compatible" content="IE=edge; IE=11; IE=10; IE=9; IE=8;">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Favicon Start -->
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<!--Favicon End -->

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/combine/npm/purecss@2.1.0/build/base-min.css,npm/purecss@2.1.0/build/grids-min.css,npm/purecss@2.1.0/build/grids-responsive-min.css">
</head>
<body>
    <div id="app"></div>
</body>
</html>
<script>
    var REACT_DATA = '{{ context_data | escapejs }}';
    if (REACT_DATA) {
        REACT_DATA = JSON.parse(REACT_DATA);
    } else {
        REACT_DATA = {};
    }
</script>
{% block jsonData %}{% endblock %}
{% render_bundle 'lib' %}
{% render_bundle 'vendor' %}
